<h1>Listing authorized patron statuses</h1>

<p>Listing patron statuses with access to the MaRLI sublibrary. This list is pulled from the <a href="<%= Settings.privileges.base_url %>" target="_blank">NYU Libraries Privileges Guide</a>. </p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Code</th>
      <th>Web text</th>
    </tr>
  </thead>
  <tbody>
<% auth_types.delete_if {|x| !(Float(x["code"]) rescue false) }.each do |auth_type| %>
  <tr>
    <td><%=h auth_type["code"] %></td>
    <td><%=h auth_type["web_text"] %></td>
  </tr>
<% end %>
  </tbody>
</table>