<h1>Listing users</h1>

<%= form_tag users_path, :class => "form-inline clearfix", :method => :get do %>
  <p>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <label for="q" class="sr-only">Search...</label>
    <input class="form-control q" id="q" name="q" placeholder="Search..." type="text" />
    <input type="submit" class="btn btn-primary" id="search" />
  </p>
<% end %>

<div id="table">
  <%= render "users" %>
</div>
