---
http_interactions:
- request:
    method: get
    uri: http://aleph.library.edu/rest-dlf/patron/BOR_ID/patronInformation/address
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-pat-adrs><reply-text>ok</reply-text><reply-code>0000</reply-code><address-information
        updateable="Y"><z304-address-1 usage="Mandatory" max_len="200">Alter, Barnaby</z304-address-1><z304-address-2
        usage="Optional" max_len="200">70 WASHINGTON SQUARE SOUTH</z304-address-2><z304-address-3
        usage="Optional" max_len="200"></z304-address-3><z304-address-4 usage="Optional"
        max_len="200"></z304-address-4><z304-address-5 usage="Optional" max_len="200"></z304-address-5><z304-date-from
        usage="Mandatory">20161130</z304-date-from><z304-date-to usage="Mandatory">20200101</z304-date-to><z304-zip
        usage="Optional" max_len="9">11104</z304-zip><z304-telephone-1 usage="Optional"
        max_len="30"></z304-telephone-1><z304-telephone-2 usage="Optional" max_len="30"></z304-telephone-2><z304-telephone-3
        usage="Optional" max_len="30"></z304-telephone-3><z304-telephone-4 usage="Optional"
        max_len="30"></z304-telephone-4><z304-sms-number usage="Optional" max_len="30"></z304-sms-number><z303-want-sms
        usage="Optional">N</z303-want-sms><z303-plain-html usage="Optional" code="P">Email
        Body Only</z303-plain-html><z304-email-address usage="Optional" max_len="60"></z304-email-address><mail-options
        usage="Read-Only"><mail-option code="P">Email Body Only</mail-option><mail-option
        code="H">Attachment Only</mail-option><mail-option code="B">Attachment and
        Email Body</mail-option><mail-option code="L">L</mail-option></mail-options></address-information></get-pat-adrs> '
  recorded_at: Mon, 03 Apr 2017 21:02:04 GMT
[...]
- request:
    method: get
    uri: https://localhost/patrons.json?sublibrary_code=marli
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"528db6019e96813627fae9bfebb896e8"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":88,"code":"nyu_ag_noaleph_NYU_Emeritus/Retired_Faculty","original_text":null,"web_text":"NYU
        Emeritus/Retired Faculty","description":null,"from_aleph":false,"created_at":"2010-02-03T02:00:38.000Z","updated_at":"2017-03-28T15:24:51.000Z","visible":true,"id_type":"NYU
        ID","under_header":"NYU","keywords":"Retired Faculty, Emeritus Faculty, Retired,
        Emeritus"},{"id":28,"code":"50","original_text":"NYU Full Time Faculty","web_text":"NYU
        Full-time Faculty","description":"","from_aleph":true,"created_at":"2009-08-14T18:11:45.000Z","updated_at":"2017-03-28T15:26:04.000Z","visible":true,"id_type":"NYUcard","under_header":"NYU","keywords":"Faculty
        Full time, Full-time, Faculty"},{"id":54,"code":"54","original_text":"NYU
        PhD student","web_text":"NYU PhD student","descript[...]
[...]
