@import "nyulibraries_stylesheets/nyulibraries";
@import "jquery-ui/core";
@import "jquery-ui/datepicker";
@import "jquery-ui/theme";

table.table {
  i.glyphicon {
    font-size: 12px;
    margin-left: 5px;
  }
}

form label.required:after {
  color: #e32;
  content: "*";
  display: inline;
  padding-left: 2px;
  font-weight: bold;
}

.dob-popover { display: none; }

#date_example { color: #999; font-style: italic; }

fieldset[disabled=true] {
  background-color: whitesmoke;
  margin-bottom: 0;
  opacity:0.4;
  filter:alpha(opacity=40);
}

.form-horizontal {
  .control-label {
    max-width: 11em;
  }
}

.input-group-addon {
  padding: 3px;
}

.glyphicon {
  color: $brand-primary;
  font-size: medium;
}

.new_user {
  input {
    max-width: 40em;
  }
}
