<h1 class="error">Timeout Error</h1>

<p>Sorry, we could not determine your permissions because the <a href="https://privileges.library.nyu.edu">NYU Library Privileges Guide</a> timed out.</p>

<p>If this message persists, please contact the <a href="mailto:web.services@library.nyu.edu">webmaster</a>.</p>
