<h1 class="error">Could not establish a connection</h1>

<p>Sorry, it appears that you were unable to establish a connection to the patron data server. Please close your browser session and try again.</p>

<p>It may be that there is scheduled maintenance. If so, you can find further information <a href="http://aleph.library.nyu.edu">here</a>. </p>

<p>If there isn't scheduled maintenance and this message persists, please contact <a href="mailto:access.services@library.nyu.edu">access services</a>.</p>
