<% if current_user && current_user.admin? %>
<%= sidebar_section("admin_panel", content_tag(:h2, "Admin Panel"), true) do %>
    <ul class="admin_options">
        <li><%= link_to "Manage Users", users_url%></li>
        <li><%= link_to "Manage Authorization", auth_settings_url%></li>
        <li><%= link_to "Manage Application Settings", application_details_url%></li>
    </ul>
<% end -%>
<% end %>
