---
http_interactions:
- request:
    method: get
    uri: http://aleph.library.nyu.edu:1891/rest-dlf/patron/BOR_ID/patronInformation/address
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-pat-adrs><reply-text>ok</reply-text><reply-code>0000</reply-code><address-information
        updateable="Y"><z304-address-1 usage="Mandatory" max_len="200">NAME</z304-address-1><z304-address-2
        usage="Optional" max_len="200">ADDRESS</z304-address-2><z304-address-3 usage="Optional"
        max_len="200">CITY</z304-address-3><z304-address-4 usage="Optional" max_len="200">STATE</z304-address-4><z304-address-5
        usage="Optional" max_len="200"></z304-address-5><z304-date-from usage="Mandatory">DAY</z304-date-from><z304-date-to
        usage="Mandatory">20200101</z304-date-to><z304-zip usage="Optional" max_len="9">ZIP</z304-zip><z304-telephone-1
        usage="Optional" max_len="30"></z304-telephone-1><z304-telephone-2 usage="Optional"
        max_len="30"></z304-telephone-2><z304-telephone-3 usage="Optional" max_len="30"></z304-telephone-3><z304-telephone-4
        usage="Optional" max_len="30"></z304-telephone-4><z304-sms-number usage="Optional"
        max_len="30"></z304-sms-number><z303-want-sms usage="Optional">N</z303-want-sms><z303-plain-html
        usage="Optional" code="P">Email Body Only</z303-plain-html><z304-email-address
        usage="Optional" max_len="60">EMAIL</z304-email-address><mail-options usage="Read-Only"><mail-option
        code="P">Email Body Only</mail-option><mail-option code="H">Attachment Only</mail-option><mail-option
        code="B">Attachment and Email Body</mail-option><mail-option code="L">L</mail-option></mail-options></address-information></get-pat-adrs> '
  recorded_at: Tue, 13 Jan 2015 20:47:52 GMT
[...]
